In [74]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

%matplotlib inline

matplotlib.rcParams['font.sans-serif']=['Microsoft YaHei']
matplotlib.rcParams['font.serif']=['Microsoft YaHei']

data=pd.read_csv('./covid19.csv')
data=data.set_index(['Country/Region','Province/State']).T
data

Country/Region Afghanistan   Albania    Algeria   Andorra   Angola  \
Province/State         NaN       NaN        NaN       NaN      NaN
Lat                   33.0   41.1533    28.0339   42.5063 -11.2027
Long                  65.0   20.1683     1.6596    1.5218  17.8739
1/22/20                0.0    0.0000     0.0000    0.0000   0.0000
1/23/20                0.0    0.0000     0.0000    0.0000   0.0000
1/24/20                0.0    0.0000     0.0000    0.0000   0.0000
...                    ...       ...        ...       ...      ...
4/1/20               237.0  259.0000   847.0000  390.0000   8.0000
4/2/20               273.0  277.0000   986.0000  428.0000   8.0000
4/3/20               281.0  304.0000  1171.0000  439.0000   8.0000
4/4/20               299.0  333.0000  1251.0000  466.0000  10.0000
4/5/20               349.0  361.0000  1320.0000  501.0000  14.0000

Country/Region Antigua and Barbuda  Argentina   Armenia  \
Province/State                 NaN        NaN       NaN
Lat                        17.0608   -38.4161   40.0691
Long                      -61.7964   -63.6167   45.0382
1/22/20                     0.0000     0.0000    0.0000
1/23/20                     0.0000     0.0000    0.0000
1/24/20                     0.0000     0.0000    0.0000
...                            ...        ...       ...
4/1/20                      7.0000  1054.0000  571.0000
4/2/20                      9.0000  1133.0000  663.0000
4/3/20                     15.0000  1265.0000  736.0000
4/4/20                     15.0000  1451.0000  770.0000
4/5/20                     15.0000  1451.0000  822.0000

Country/Region                    Australia                  ... MS Zaandam  \
Province/State Australian Capital Territory New South Wales  ...        NaN
Lat                                -35.4735        -33.8688  ...        0.0
Long                               149.0124        151.2093  ...        0.0
1/22/20                              0.0000          0.0000  ...        0.0
1/23/20                              0.0000          0.0000  ...        0.0
1/24/20                              0.0000          0.0000  ...        0.0
...                                     ...             ...  ...        ...
4/1/20                              84.0000       2182.0000  ...        9.0
4/2/20                              87.0000       2298.0000  ...        9.0
4/3/20                              91.0000       2389.0000  ...        9.0
4/4/20                              93.0000       2493.0000  ...        9.0
4/5/20                              96.0000       2580.0000  ...        9.0

Country/Region Botswana  Burundi Sierra Leone  \
Province/State      NaN      NaN          NaN
Lat            -22.3285  -3.3731     8.460555
Long            24.6849  29.9189   -11.779889
1/22/20          0.0000   0.0000     0.000000
1/23/20          0.0000   0.0000     0.000000
1/24/20          0.0000   0.0000     0.000000
...                 ...      ...          ...
4/1/20           4.0000   2.0000     2.000000
4/2/20           4.0000   3.0000     2.000000
4/3/20           4.0000   3.0000     2.000000
4/4/20           4.0000   3.0000     4.000000
4/5/20           6.0000   3.0000     6.000000

Country/Region                      Netherlands     Malawi  \
Province/State Bonaire, Sint Eustatius and Saba        NaN
Lat                                     12.1784 -13.254308
Long                                   -68.2385  34.301525
1/22/20                                  0.0000   0.000000
1/23/20                                  0.0000   0.000000
1/24/20                                  0.0000   0.000000
...                                         ...        ...
4/1/20                                   0.0000   0.000000
4/2/20                                   2.0000   3.000000
4/3/20                                   2.0000   3.000000
4/4/20                                   2.0000   4.000000
4/5/20                                   2.0000   4.000000

Country/Region                    United Kingdom                    France  \
Province/State Falkland Islands (Islas Malvinas) Saint Pierre and Miquelon
Lat                                     -51.7963                   46.8852
Long                                    -59.5236                  -56.3159
1/22/20                                   0.0000                    0.0000
1/23/20                                   0.0000                    0.0000
1/24/20                                   0.0000                    0.0000
...                                          ...                       ...
4/1/20                                    0.0000                    0.0000
4/2/20                                    0.0000                    0.0000
4/3/20                                    0.0000                    0.0000
4/4/20                                    1.0000                    0.0000
4/5/20                                    2.0000                    1.0000

Country/Region South Sudan Western Sahara
Province/State         NaN            NaN
Lat                  6.877        24.2155
Long                31.307       -12.8858
1/22/20              0.000         0.0000
1/23/20              0.000         0.0000
1/24/20              0.000         0.0000
...                    ...            ...
4/1/20               0.000         0.0000
4/2/20               0.000         0.0000
4/3/20               0.000         0.0000
4/4/20               0.000         0.0000
4/5/20               1.000         4.0000

[77 rows x 262 columns]

In [75]:
data=data.drop(['Lat','Long'])
data

Country/Region Afghanistan Albania Algeria Andorra Angola Antigua and Barbuda  \
Province/State         NaN     NaN     NaN     NaN    NaN                 NaN
1/22/20                0.0     0.0     0.0     0.0    0.0                 0.0
1/23/20                0.0     0.0     0.0     0.0    0.0                 0.0
1/24/20                0.0     0.0     0.0     0.0    0.0                 0.0
1/25/20                0.0     0.0     0.0     0.0    0.0                 0.0
1/26/20                0.0     0.0     0.0     0.0    0.0                 0.0
...                    ...     ...     ...     ...    ...                 ...
4/1/20               237.0   259.0   847.0   390.0    8.0                 7.0
4/2/20               273.0   277.0   986.0   428.0    8.0                 9.0
4/3/20               281.0   304.0  1171.0   439.0    8.0                15.0
4/4/20               299.0   333.0  1251.0   466.0   10.0                15.0
4/5/20               349.0   361.0  1320.0   501.0   14.0                15.0

Country/Region Argentina Armenia                    Australia                  \
Province/State       NaN     NaN Australian Capital Territory New South Wales
1/22/20              0.0     0.0                          0.0             0.0
1/23/20              0.0     0.0                          0.0             0.0
1/24/20              0.0     0.0                          0.0             0.0
1/25/20              0.0     0.0                          0.0             0.0
1/26/20              0.0     0.0                          0.0             3.0
...                  ...     ...                          ...             ...
4/1/20            1054.0   571.0                         84.0          2182.0
4/2/20            1133.0   663.0                         87.0          2298.0
4/3/20            1265.0   736.0                         91.0          2389.0
4/4/20            1451.0   770.0                         93.0          2493.0
4/5/20            1451.0   822.0                         96.0          2580.0

Country/Region  ... MS Zaandam Botswana Burundi Sierra Leone  \
Province/State  ...        NaN      NaN     NaN          NaN
1/22/20         ...        0.0      0.0     0.0          0.0
1/23/20         ...        0.0      0.0     0.0          0.0
1/24/20         ...        0.0      0.0     0.0          0.0
1/25/20         ...        0.0      0.0     0.0          0.0
1/26/20         ...        0.0      0.0     0.0          0.0
...             ...        ...      ...     ...          ...
4/1/20          ...        9.0      4.0     2.0          2.0
4/2/20          ...        9.0      4.0     3.0          2.0
4/3/20          ...        9.0      4.0     3.0          2.0
4/4/20          ...        9.0      4.0     3.0          4.0
4/5/20          ...        9.0      6.0     3.0          6.0

Country/Region                      Netherlands Malawi  \
Province/State Bonaire, Sint Eustatius and Saba    NaN
1/22/20                                     0.0    0.0
1/23/20                                     0.0    0.0
1/24/20                                     0.0    0.0
1/25/20                                     0.0    0.0
1/26/20                                     0.0    0.0
...                                         ...    ...
4/1/20                                      0.0    0.0
4/2/20                                      2.0    3.0
4/3/20                                      2.0    3.0
4/4/20                                      2.0    4.0
4/5/20                                      2.0    4.0

Country/Region                    United Kingdom                    France  \
Province/State Falkland Islands (Islas Malvinas) Saint Pierre and Miquelon
1/22/20                                      0.0                       0.0
1/23/20                                      0.0                       0.0
1/24/20                                      0.0                       0.0
1/25/20                                      0.0                       0.0
1/26/20                                      0.0                       0.0
...                                          ...                       ...
4/1/20                                       0.0                       0.0
4/2/20                                       0.0                       0.0
4/3/20                                       0.0                       0.0
4/4/20                                       1.0                       0.0
4/5/20                                       2.0                       1.0

Country/Region South Sudan Western Sahara
Province/State         NaN            NaN
1/22/20                0.0            0.0
1/23/20                0.0            0.0
1/24/20                0.0            0.0
1/25/20                0.0            0.0
1/26/20                0.0            0.0
...                    ...            ...
4/1/20                 0.0            0.0
4/2/20                 0.0            0.0
4/3/20                 0.0            0.0
4/4/20                 0.0            0.0
4/5/20                 1.0            4.0

[75 rows x 262 columns]

In [76]:

data.axes

[Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
        '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
        '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
        '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
        '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
        '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
        '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
        '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
        '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
        '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
        '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
        '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20'],
       dtype='object'),
 MultiIndex([(        'Afghanistan',                                 nan),
             (            'Albania',                                 nan),
             (            'Algeria',                                 nan),
             (            'Andorra',                                 nan),
             (             'Angola',                                 nan),
             ('Antigua and Barbuda',                                 nan),
             (          'Argentina',                                 nan),
             (            'Armenia',                                 nan),
             (          'Australia',      'Australian Capital Territory'),
             (          'Australia',                   'New South Wales'),
             ...
             (         'MS Zaandam',                                 nan),
             (           'Botswana',                                 nan),
             (            'Burundi',                                 nan),
             (       'Sierra Leone',                                 nan),
             (        'Netherlands',  'Bonaire, Sint Eustatius and Saba'),
             (             'Malawi',                                 nan),
             (     'United Kingdom', 'Falkland Islands (Islas Malvinas)'),
             (             'France',         'Saint Pierre and Miquelon'),
             (        'South Sudan',                                 nan),
             (     'Western Sahara',                                 nan)],
            names=['Country/Region', 'Province/State'], length=262)]

In [77]:
data.index=pd.DatetimeIndex(data.index)

In [79]:
data['China','Hubei'].plot(figsize=[15,8],title="湖北省确诊病例",c="r")

AttributeError: 'AxesSubplot' object has no attribute 'set_major_locator'